<h2>Here are all of our pets!</h2>
<br>
<ul>
<% @pets.each do |pet| %>
  <li>Name: <strong><%= link_to("#{pet.name}", pet_path(pet)) %></strong></li>
  <li>Age: <%= pet.age %></li>
  <li>Breed: <%= pet.breed %></li>
  <li>Size: <%= pet.size %></li>
  <li>Description: <%= pet.description %></li>
  <li>Photos: <%= pet.photos %></li>
  <br>
<% end %>
</ul>
