<h2 class="flow-text"><%= @pet.name %></h2>
<ul>
  <li>Age: <%= @pet.age %></li>
  <li>Breed: <%= @pet.breed %></li>
  <li>Size: <%= @pet.size %></li>
  <li>Description: <%= @pet.description %></li>
  <li><%= image_tag @pet.photo.url(:medium) %></li>
</ul>
