<h2><%= @pet.name %></h2>
<ul>
  <li>Age: <%= @pet.age %></li>
  <li>Breed: <%= @pet.breed %></li>
  <li>Size: <%= @pet.size %></li>
  <li>Description: <%= @pet.description %></li>
  <li>Photos: <%= @pet.photos %></li>
</ul>