<% if @events_as_owner.any? %>
  <ul>
    <% @events_as_owner.each do |event| %>
      <div class="row card pad-t-1 pad-b-1">
        <div class="col s3 m3 l8">
          <li><%= event.sitter.first_name %></li>
          <li><%= event.sitter.email %></li>
          <li><%= event.city %>, <%= event.state %></li>
          <li><%= date_time_helper(event.start_date_time) %></li>
          <li><%= date_time_helper(event.end_date_time) %></li>
        </div>
        <div class="col s3 m3 l2">
          <li><%= link_to('Update Event', edit_event_path(event), :class => 'waves-effect waves-light btn') %></li><br>
          <li><%= link_to('See more...', event_path(event), :class => 'waves-effect waves-light btn') %></li><br>
        </div>
      </div>
    <% end %>
  </ul>
<% end %>
