<h2>Welcome, <%= current_user.first_name %>!</h2>
<%if current_user.profile_photo.exists? %>
  <p><%= image_tag current_user.profile_photo.url(:medium) %></p>
<% else %>
  <p><%= image_tag("abstract-user-flat-1.svg")%></p>
<% end %>
<%= form_for current_user do |f|%>
  <p>
    <%= f.label :profile_photo %>
    <%= f.file_field :profile_photo %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<p><%= current_user.bio %> </p>
<p>Tokens remaing: <strong><%= "\u{1f31f}" * current_user.tokens %></strong></p>

<%= render 'confirm-request' %>

<%= render 'sitter-events' %>

<%= render 'owner-events' %>

<%= render 'past-owners' %>

<%= render 'past-sitters' %>

<%= render 'sitter-reviews' %>

<%= render 'owner-reviews' %>

<%= render 'pets' %>

<%= link_to('Create New Event', new_event_path) %>
