<div class="row">
  <div class="col s12 m6 l4 offset-l1">
    <h4 class="flow-text">Welcome, <%= current_user.first_name %>!</h4>
    <%if current_user.profile_photo.exists? %>
      <p><%= image_tag current_user.profile_photo.url(:medium) %></p>
        <% else %>
      <p><%= image_tag("default-user.png")%></p>
        <% end %>
        <%= form_for current_user do |f|%>
      <p>
        <%= f.label :profile_photo %>
        <%= f.file_field :profile_photo %>
      </p>
      <p>
        <%= f.submit "Upload Photo", :class => "waves-effect waves-light btn" %>
      </p>
    <% end %>
  </div>
  <div class="col s6 m6 l6">
    <p class="flow-text teal-text">Tokens remaining: <%= "\u{1f31f}" * current_user.tokens %></p>
  </div>
  <div class="col s12 m9 l6 offset-s1">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">Request Confirmation</div>
        <div class="collapsible-body"><%= render 'confirm-request' %></div>
      </li>
      <li>
        <div class="collapsible-header">Upcoming Pet Assignments</div>
        <div class="collapsible-body"><%= render 'sitter-events' %></div>
      </li>
      <li>
        <div class="collapsible-header">Upcoming Pet Care</div>
        <div class="collapsible-body"><%= render 'owner-events' %></div>
      </li>
      <li>
        <div class="collapsible-header">Owner Reviews that need attention</div>
        <div class="collapsible-body"><%= render 'past-owners' %></div>
      </li>
      <li>
        <div class="collapsible-header">Sitter Reviews that need attention</div>
        <div class="collapsible-body"><%= render 'past-sitters' %></div>
      </li>
      <li>
        <div class="collapsible-header">My Sitter Reviews</div>
        <div class="collapsible-body"><%= render 'sitter-reviews' %></div>
      </li>
      <li>
        <div class="collapsible-header">Owner Reviews</div>
        <div class="collapsible-body"><%= render 'owner-reviews' %></div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col s12 m8 l6 offset-l1">
    <%= render 'pets' %>
  </div>
  <div class="col s12">
    <p><%= current_user.bio %> </p>
  </div>
</div>
