<h2>Welcome, <%= current_user.first_name %>!</h2>

<p>Tokens remaing: <strong><%= "\u{1f31f}" * current_user.tokens %></strong></p>

<% if current_user.requests_pending.any?%>
<h2>There are requests that require your attention!</h2>
  <% current_user.requests_pending.each do |request| %>
  <% if request.approved == nil %>
      <ul>
        <li><%= request.owner.first_name + " " + request.owner.last_name %></li>
        <li><%= request.note %></li>
        <li>From <%= date_time_helper(request.event.start_date_time) %> to <%= date_time_helper(request.event.end_date_time) %></li>
        <li><%= link_to('Confirm this Sitting', request_confirmation_event_request_path(request.event, request))  %></li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<% if @events_as_sitter.any? %>
  <h3><strong>My sittings</strong></h3>
  <ul>
    <% @events_as_sitter.each do |event| %>
      <li><%= event.location %></li>
      <li><%= date_time_helper(event.start_date_time) %></li>
      <li><%= date_time_helper(event.end_date_time) %></li>
      <li><%= link_to('Update Event', edit_event_path(event)) %></li>
      <li><%= link_to('See more...', event_path(event)) %></li><br>
    <% end %>
  </ul>
<% end %>

<% if @events_as_owner.any? %>
  <h3><strong>My sitters</strong></h3>
  <ul>
    <% @events_as_owner.each do |event| %>
      <% sitter = User.find(event.sitter_id) %>
      <li>Sitter: <%= sitter.first_name %> <%= sitter.last_name %></li>
      <li>Sitter email: <%= sitter.email %></li>
      <li>Address: <%= event.location %></li>
      <li>Sitting from <%= date_time_helper(event.start_date_time) %> to <%= date_time_helper(event.end_date_time) %></li>
      <li><%= link_to('See more...', event_path(event)) %></li><br>
    <% end %>
  </ul>
<% end %>

<% if @events_past_sitters.any? %>
  <h3><strong>My Past Sitters</strong></h3>
  <ul>
    <% @events_past_sitters.each do |event| %>
      <% sitter = User.find(event.sitter_id) %>
      <li>Sitter: <%= sitter.first_name %> <%= sitter.last_name %></li>
      <li>Sitter email: <%= sitter.email %></li>
      <li>Address: <%= event.location %></li>
      <li>Sitting from <%= date_time_helper(event.start_date_time) %> to <%= date_time_helper(event.end_date_time) %></li>
      <% unless Review.find_by(event: event, type_reviews: 'sitter') %>
        <li> <%= link_to('Review', new_event_review_path(event)) %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if @events_past_sittings.any? %>
  <h3><strong>My Past Sittings</strong></h3>
  <ul>
    <% @events_past_sittings.each do |event| %>
      <% owner = User.find(event.owner_id) %>
      <li>Owner: <%= owner.first_name %> <%= owner.last_name %></li>
      <li>Owner email: <%= owner.email %></li>
      <li>Address: <%= event.location %></li>
      <li>Sitting from <%= date_time_helper(event.start_date_time) %> to <%= date_time_helper(event.end_date_time) %></li>
      <% unless Review.find_by(event: event, type_reviews: 'owner') %>
        <li> <%= link_to('Review', new_event_review_path(event)) %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<h3><strong>My pets</strong></h3>
<ul>
  <% if current_user.pets.any? %>
    <% current_user.pets.each do |pet| %>
      <li>Name: <%= link_to("#{pet.name}", pet_path(pet)) %></li>
      <li>Description: <%= pet.description %></li>
      <li><%= link_to('Update Pet', edit_pet_path(pet)) %></li>
    <% end %>
    <%= link_to('Add a pet!', new_pet_path) %>
  <% else %>
    <li>You have not added any pets yet! Click <%= link_to('here', new_pet_path) %> to add a new pet</li>
  <% end %>
</ul>

<%= link_to('Create New Event', new_event_path) %>
