<h2>Welcome, <%= current_user.first_name %>!</h2>

<p>Tokens remaing: <strong><%= "\u{1f31f}" * current_user.tokens %></strong></p>

<%= render 'confirm-request' %>

<%= render 'sitter-events' %>

<%= render 'owner-events' %>

<%= render 'past-owners' %>

<%= render 'past-sitters' %>

<%= render 'sitter-reviews' %>

<%= render 'owner-reviews' %>

<%= render 'pets' %>

<%= link_to('Create New Event', new_event_path) %>
