<%= form_tag '/events', method: :get do %>
  <p><i class="material-icons">search</i></p>
    <div class="card-panel">
      <div class="row">
        <div class="col s6 m6 l6 offset-s2">
          <%= label_tag(:distance, "distance") %>
          <%= text_field(:event, :distance)%>
        </div>
        <div class="col s6 m6 l6 offset-s2">
          <%= label_tag(:start_date, "Start Date:") %>
          <%= date_field(:event, :start_date) %>
        </div>
        <div class="col s6 m6 l6 offset-s2">
          <%= label_tag(:end_date, "End Date:") %>
          <%= date_field(:event, :end_date) %>
        </div>
        <div class="col s6 m6 l6 offset-s6">
          <%= submit_tag("Search", class: "wave-effect waves-light btn") %>
        </div>
      </div>
    </div>
<% end %>
