<div>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <br>
  <div>
    <%= f.date_select  :start_date_time %>
    <%= f.time_select :start_date_time, :ignore_date => true %>
  </div>
  <br>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <%= f.submit %>
  </div>
  </div>
