<%= form_tag('/events', method: 'post') do %>

<%#= f.hidden_field :sitter_id, value: current_user.id %>
 <%#= hidden_field_tag(:sitter_id, value: current_user.id) %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= label_tag(:street_address, "Street Address") %><br>
    <%= text_field_tag('event[street_address]') %>
  </p>

  <p>
    <%= label_tag(:city, "City") %><br>
    <%= text_field_tag('event[city]') %>
  </p>

  <p>
    <%= label_tag(:state, "State") %><br>
    <%= text_field_tag('event[state]') %>
  </p>

  <p>
    <%= label_tag(:start_date, "Start Date") %><br>
    <%= text_field_tag('start_date', '', class:'datepicker') %>
  </p>

  <p>
    <%= label_tag(:start_time, "Start Time") %><br>
    <%= text_field_tag('start_time', '', class:'timepicker') %>
  </p>

  <p>
    <%= label_tag(:end_date, "End Date") %><br>
    <%= text_field_tag('end_date', '', class:'datepicker') %>
  </p>

  <p>
    <%= label_tag(:end_time, "End Time") %><br>
    <%= text_field_tag('end_time', '', class:'timepicker') %>
  </p>

  <p>
    <%= button_tag('Create') %>
  </p>
<% end %>
