<div class="row">
  <div class="s8 offset-1">
    <h4 class="flow-text">
      Hello <i><b><%= current_user.first_name%></b></i>, please select the sitter that matches your pet care needs
    </h4>
  </div>
</div>
<div class="row">
  <div class="col s9 pull-3">
    <%= form_tag '/events', method: :get do %>
      <div class="card-panel">
        <span class="card-title flow-text teal-text pad-s-3">Search</span>
        <div class="row section">
          <div class="col s12 m6 l6">
            <%= label_tag(:start_date, "Start Date:") %>
            <%= date_field(:event, :start_date, min: Date.today, :required => "required", class: "valid") %>
          </div>
          <div class="col s12 m6 l6">
            <%= label_tag(:end_date, "End Date:") %>
            <%= date_field(:event, :end_date,  min: Date.today, :required => "required", class: "valid") %>
          </div>
          <div class="col s12 m6 l6 input-field">
            <%= label_tag(:distance, "distance") %>
            <%= number_field(:event, :distance, min: 1, step:1, :required => "required", class: "valid") %>
          </div>
          <div class="col s2">
            <div class="pad-2">
              <%= submit_tag("Search", class: "wave-effect waves-light btn") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s3 push-9">
    <div class="pad-t-1">
      <%= image_tag("light_bulb.gif", :alt => "light bulb", size: '30x30') %>
      <span class="flow-text teal-text">Enter the dates you wish to have a pet sitter to refine your search</span>
    </div>
  </div>
</div>
