<div class="row">
  <div class="col s12 m10 l10 offset-l1">
    <% if user_signed_in? %>
      <%= render 'filter' %>
    <% end %>
  </div>
</div>

<!-- <div class="row">
  <div class="col s12 m6 l6 offset-l2 offset-m1">
    <h2 class="flow-text teal-text">Available Sitters</h2>
  </div>
</div> -->

<div class="row">
  <div class="col s12 m8 l8">
    <ul class="card-panel grey lighten-4">
      <span class="card-title teal-text flow-text pad-s-3 pad-b-4">Available Sitters</span>
    	<% @events.each do |event| %>
        <% if available?(event) %>
            <div class="row  pad-s-2 pad-b-2">
              <div class="col s12 m8 l8">
                <li><%= "#{event.sitter}" %> </li>
    						<li><b><%= "#{event.city}, #{event.state}" %> </b></li>
                <% if user_signed_in? %>
                  <li><i><%= (Geocoder::Calculations.distance_between(event, current_user)).ceil %> miles away</i></li>
                <% end %>
    					  <li><%= date_time_helper(event.start_date_time) %></li>
    					  <li><%= date_time_helper(event.end_date_time) %></li>
              </div>
              <div class="pad-t-3">
                <div class="col s12 m4 l4">
      					  <li><%= link_to('Details', event_path(event), :class =>'waves-light waves-effect btn' ) %></li>
                </div>
              </div>
    			  </div>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
