
<% if user_signed_in? %>
  <%= render 'search' %>
<% end %>


<div class="row">
  <div class="col s9 pull-3">
    <ul class="card-panel grey lighten-4">
      <span class="card-title teal-text flow-text pad-s-3 pad-b-4">Available Sitters</span>
    	<% @events.each do |event| %>
        <% if available?(event) %>
            <div class="row section  pad-s-2 pad-b-2">
              <div class="col m8 l8">
                <li class="flow-text teal-text"><b><%= "#{event.sitter.first_name}" %> </b></li>
    						<li><b><%= "#{event.city}, #{event.state}" %> </b></li>
                <% if user_signed_in? %>
                  <li><i><%= (Geocoder::Calculations.distance_between(event, current_user)).ceil %> miles away</i></li>
                <% end %>
    					  <li><%= date_time_helper(event.start_date_time) %></li>
    					  <li><%= date_time_helper(event.end_date_time) %></li>
              </div>
              <div class="pad-t-3">
                <div class="col s12 m2 l4">
      					  <li><%= link_to('Details', event_path(event), :class =>'waves-light waves-effect btn' ) %></li>
                </div>
              </div>
    			  </div>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col s3 push-9">
    <div class="pad-t-1">
      <%= image_tag("light_bulb.gif", :alt => "light bulb", size: '30x30') %>
      <span class="flow-text teal-text">Choose from the list of available sitters</span>
    </div>
  </div>
</div>
