<h2><%= @event.full_street_address%></h2>

<ul>
  <li>Event Creator: <%= @sitter.first_name %></li>
  <li>Start Date: <%= date_time_helper(@event.start_date_time) %></li>
  <li>End Date: <%= date_time_helper(@event.end_date_time) %></li><br>
  <% if user_signed_in? && current_user.tokens >= 1 %>
    <%= link_to 'Book Now!', book_event_path(@event), method: :put, onclick: "alert('Booking Confirmed! #{current_user.tokens - 1} tokens remaining')" %>
  <% elsif user_signed_in? && current_user.tokens == 0 %>
    <p>It looks like you're all out of tokens! Purchase more if you want to book another sitting</p>
    <%= link_to 'Purchase tokens', purchase_path %>
  <% else %>
    <p><%= link_to 'Create a user account', new_user_registration_path %> or <%= link_to 'login', new_user_session_path %> to book this sitting!</p>
  <% end %>
</ul>
