<div class="row pad-t-6">
  <div class="col s12 m9 l9 offset-l1">
    <h4 class="flow-text">Confirm Request</h4>
  </div>
</div>
<div class="row">
  <div class="col s12 m9 l9 offset-l1">
    <% @events_as_owner.each do |event| %>
        <% if event.reviews.any? %>
          <p><strong>Here's what people have to say about <%= @owner.first_name %></strong></p>
          <ul>
            <% @events_as_owner.each do |event| %>
              <% event.reviews.each do |review| %>
                <li><%= review.body %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>

<%= form_for [@event, @request], url: confirmed_confirmation_event_request_path(@request) do |f| %>
  <%= f.hidden_field :approved, :value => "true" %>
  <%= f.submit "Approve", :class=>'waves-light waves-effect btn' %><br>
<% end %>
<br>

<%= form_for [@event, @request], url: denied_confirmation_event_request_path(@request) do |fr| %>
  <%= fr.hidden_field :approved, :value => "false" %>
  <%= fr.submit "Reject", :class=>'waves-light waves-effect btn' %>
<% end %>
